<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="mvc.model.MemberMapper">
  
  	<select id="getModel" parameterType="member" resultType="member">
  		SELECT * FROM member WHERE id = #{id}
  	</select>
  	
  	<select id="join" parameterType="member">
  		INSERT INTO member (id, pw, name) VALUES (#{id}, #{pw}, #{name})
  	</select>
  	
  	<select id="login" parameterType="member" resultType="String">
  		SELECT pw FROM member WHERE id = #{id}
  	</select>
  	
  	<select id="modify" parameterType="member">
  		UPDATE member SET pw = #{pw}, name = #{name} WHERE id = #{id}
  	</select>
  	
  	
  	
  </mapper>